<div class="container">

<h1 class="text-center">Discipline Tags</h1>
<br>

  <div class="text-center" id="addnewindex"><%= link_to 'Breed List', horses_path, :class => "btn btn-tag btn-lg" %> &nbsp <%= link_to 'Add New Discipline Tag', tags_new_path, :class => "btn btn-tag btn-lg" %></div>

<br>
<br>
  <div class="well col-md-10 col-md-offset-1">

<div class="tagindexdivs">
    <% @tags.each do |tag| %>
    <%#button_to tag.name, taghorse_path(tag.name), method: :get, :class => "btn btn-xs" %>
    <button class="btn btn-tag btn-md" id="tags"><%= link_to tag.name, "/horses/tag/#{tag.name}" %><%= link_to '', tag, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn glyphicon glyphicon-remove-circle" %></button>

    <%end%>
</div>




  </div>

</div>