<div class="container">

      <h1 class="text-center">Add a Discipline Tag</h1>
      <br>
  <div class ="well col-md-6 col-md-offset-3">


      <div class="form-group">

       <%= bootstrap_form_for @tags do |f| %>

       <%= f.text_field :name, :placeholder => "Add Discipline Name" %><br/>

       <%= f.submit :class => "btn btn-tag btn-lg center-block" %>

       <% end %>

   </div>
 </div>
 </div>
