/*// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
  background-image: url("whitewood2.jpg");
  background-color: white;
  background-size: 90%;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 55px;
}

.well {
  background-color: white;
}
