/*// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
  background: image-url('laceburlapbackground2.jpg');
  background-color: white;
  background-size: 100%;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
  padding-top: 70px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
}

.well {
  border-radius: 0px;
  box-shadow: 5px 5px 5px #888888;
}

.form-group {
  font-size: 20px;
  background-color: #f5f5f5;
}

#myCarousel {
  height: 360px;
  width: 550px;
  margin: 0;
}

#myCarousel img {
  max-height: 350px;
  margin: 0 auto;
}

.right.carousel-control, .left.carousel-control {
    opacity: 0;
}

#horsebreeds {
  color: black;
  font-size: 20px;
}

#pic {
  display: inline-block;
}

#breed {
  font-size: 40px;
  font: black !important;
}

a {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

#showtext{
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
  background-color: white;
  font-size: 25px;
  padding: 15px;
  margin-left: 0px !important;
  margin-top: 70px;
}

#showhead {
  margin-bottom: 50px;
}

strong {
  font-size: 30px;
}

.backlink {
  font-size: 20px;
}

.backlink:active {
  color: black;
}

.btn-tag.btn-md {
  margin: 5px;
}

#tags {
  font-size: 20px;
  margin: 5px;
}

#viewbreedtag {
  font-size: 40px;
}

#logo {
  max-width: 60px;
  margin-top: -5px;
  margin-right: -10px;
}

.brand {
  color: white;
  font-size: 30px;
}

a.brand {
  color: black;
  padding-top: 10px;
}

a.brand:hover {
  color: black;
  text-decoration: none;
}

a.brand:active {
  color: black;
  text-decoration: none;
}

.navbar {
  font-size: 20px;
  font-color: black;
  background-color: white;
}

.navbar-nav>.active>a {
  background-color: white !important;
  line-height: 2;
}

.navbar-nav>.active>a:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.backlinks {
  font-size: 20px;
}

.btn-tag {
  color: #000000;
  background-color: #FCFCFC;
  border-color: #000000;
}

.btn-tag:hover,
.btn-tag:focus,
.btn-tag:active,
.btn-tag.active,
.open .dropdown-toggle.btn-tag {
  color: white;
  background-color: black;
  border-color: black;
}

.btn-tag:hover a {
  color: white;
  text-decoration: none;
}

.btn-tag:active,
.btn-tag.active,
.open .dropdown-toggle.btn-tag {
  background-image: none;
}



.btn-tag-main {
  color: white;
  background-color: black;
  border-color: black;
  width: 80px;
}

.btn-tag-main:hover,
.btn-tag-main:focus,
.btn-tag-main:active,
.btn-tag-main.active,
.open .dropdown-toggle.btn-tag {
  color: black;
  background-color: white;
  border-color: black;
}

.btn-tag-main:active,
.btn-tag-main.active,
.open .dropdown-toggle.btn-tag {
  background-image: none;
}